@import url("https://fonts.googleapis.com/css2?family=Inter");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}
/* .input {
  @apply bg-slate-950;
} */

textarea:focus,
input:focus {
  outline: none;
}

.welcome-screen{
  background: url("./blue-bg.jpg") !important;
  background-size: cover;
  background-position: center;
}

